<div class="container">
    <div class="post-heading"></div>
    <div class="row">
        <p class="col-12">{{content}}</p>
        <p class="col-12">- {{user.username}} {{format_date createdAt}}</p>
    </div>
</div>