<div class="container comment">
    <div class="comment-heading w-100"></div>
    <div class="row comment-body">
        <p class="col-12">{{content}}</p>
        <p class="col-12 comment-date">- {{user.username}} {{format_date createdAt}}</p>
    </div>
</div>