:root {
    --dark-main: #3d405b;
    --light-main: #a7d5bf;
}

header {
    padding: 15px;
    background-color: var(--dark-main);
    color: var(--dark-main);
    margin: 0px;
}

h1 {
    background-color: var(--light-main);
    padding: 3px 10px;
}

nav {
    padding: 0 0 20px 3px;
}

a {
    color: var(--light-main);
    /* display: flex;
    justify-content: center; */
}

a:hover {
    text-decoration: none;
    color: var(--light-main);
}

main {
    margin-top: 50px;
}

h2 {
    font-size: 24px;
}

/* POST STYLES */
.post, .comment, .create-comment, #newPost {
    color: black;
    border: 3px solid var(--dark-main);
    margin: 20px auto;
}

.post-heading, .comment-heading, .create-comment-heading, .create-post-heading {
    background: var(--dark-main);
    color: var(--light-main);
}

.post-date {
    font-size: 14px;
    margin-bottom: 5px;
    font-style: italic;
}

.post-content {
    margin-top: 5px;
    height: 50px;
}

/* COMMENT STYLES */
.comment {
    width: 90%;
    padding: 0;
}

.comment-heading, .create-post-heading {
    height: 20px;
}

.comment-body, .create-comment-body, .create-post-body {
    padding: 10px 15px;
}

.comment-date {
    font-style: italic;
}

/* Comment Entry Field */
.create-comment {
    padding: 0;
    height: 225px;
}

.create-comment-heading {
    height: 20px;
}

textarea {
    margin-bottom: 25px;
}

/* Create Post Styles */
#newPost {
width: 60%;
}

