:root {
    --dark-main: #3d405b;
    --light-main: #a7d5bf;
}

header {
    padding: 15px;
    background-color: var(--dark-main);
    color: var(--dark-main);
    margin: 0px;
}

h1 {
    background-color: var(--light-main);
    padding: 3px 10px;
}

nav {
    padding: 0 0 20px 3px;
}

a {
    color: var(--light-main);
    /* display: flex;
    justify-content: center; */
}

a:hover {
    text-decoration: none;
    color: var(--light-main);
}

main {
    margin-top: 50px;
}
